/*General Elements*/
body{
    font-family: Arial;
}
article ,aside  {
    width:50%;
    float :left;
}

/*Elements By Id*/
#divPicture {
    width: 300px;
    height:200px; 
    border: solid 1px green;
}

